<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  
  <!-- p405 404오류 페이지 커스텀 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/exceptionNopage.jsp</location>
  </error-page>
  <error-page>
  	<error-code>405</error-code>
  	<location>/exceptionNopage.jsp</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>/exceptionNopage.jsp</location>
  </error-page>
  
  <!-- p437 필터 추가 -->
  <filter>
  	<filter-name>LogFilter</filter-name>
  	<filter-class>filter.LogFilter</filter-class>
  	<!-- 자바로 만든 클래스 정의 -->
  </filter>
  <filter-mapping>
  	<filter-name>LogFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  	<!-- 모든 경로에 대한 필터 제공 -->
  </filter-mapping>
  
  <!-- p440 파일 로그 필터 추가 -->
  <filter>
  	<filter-name>LogFileFilter</filter-name>
  	<filter-class>filter.LogFileFilter</filter-class>
  	<!-- 자바로 만든 클래스 정의 -->
  	<init-param>
  		<param-name>filename</param-name>
  		<!-- java에서 가지고 갈 파라미터 값 -->
  		<!-- getInitParameter("filename") -->
  		<param-value>c:\\logs\\test.log</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>LogFileFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  	<!-- 모든 경로에 대한 필터 제공 -->
  </filter-mapping>
  
  <servlet> <!-- p657추가 MVC에서 C를 담당한다. -->
  	<servlet-name>BoardController</servlet-name>
  	<!-- 컨트롤러 이름 정의 -->
  	<servlet-class>mvc.controller.BoardController</servlet-class>
  	<!-- JAVA 경로 설정 MODEL을 담당한다. -->
  </servlet>
  
  <servlet-mapping> <!-- VIEW를 담당한다. -->
  	<servlet-name>BoardController</servlet-name>
  	<url-pattern>*.do</url-pattern>
  	<!-- HTTP://192.168.111.101:8080/????.do에 대한 반응용 -->
  </servlet-mapping>
 
  <display-name>Test</display-name>
  <welcome-file-list>
  	<welcome-file>welcome.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>